.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
background-color:#000000;
margin-bottom: 20px; /* Remove default body margin */
overflow-x: hidden; /* Prevent horizontal scrollbar */
}


.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.CardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  .CardsContainer {
    flex-direction: column;
    align-items: center;
  }
}

.Card {
  width: 18rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
}

.Card:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  
}

.custom-btn {
  background-color: #007bff; /* Set your desired background color */
  color: white; /* Set your desired text color */
  border: none;
  border-radius: 0.25rem; /* Set your desired border radius */
  cursor: pointer;
  padding: 10px 20px; /* Set your desired padding */
  margin-bottom: 20px;
  margin-top: 15px;
}

.custom-btn:hover {
  background-color: #0056b3; /* Set your desired background color on hover */
}

.HealthMonitorBox {
  background-color: silver;
  border: 2px solid silver;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 26%;
}

.heartratebox, .oxygenlevelbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.heartratebox h3, .oxygenlevelbox h3 {
  margin: 0;
}

#heartpic, #oxygenpic {
  width: 50px !important;
  height: 30px;
  margin-bottom: 10px;
}


